<div class="files"> 
  <%= f.fields_for :uploads do |upload_fields| %>
  <p>
    <% if upload_fields.object.new_record? %>
    <div>
      <%= upload_fields.label :name, 'Upload:' %>
      <%= upload_fields.file_field :image, :multiple => true, :name => 'blogpost[uploads_attributes][][image]' %>
    </div>
    <% else %>
    <div>
      <%= image_tag upload_fields.object.image.url(:thumb) %>
      <%= upload_fields.label :_destroy , 'Remove:' %>
      <%= upload_fields.check_box :_destroy %>
    </div>
    <% end %>
  </p>
  <% end %>
</div>
