<table class="blogpost" summary="Blogpost complete">
  <tr>
    <td class="main">
      <h1>
	<%= @blogpost.title %>
      </h1>
      <h4>
      <%= @blogpost.subtitle %>
      </h4>
      <%= image_tag @blogpost.photo.url(:thumb)%>
      <%= @blogpost.content %> <br />
      <% user = @blogpost.user rescue User.find(@blogpost.user_id) %>
      <% if current_user?(user) %>  
      <nav class ="round">
      <ul>
	<li><%= link_to "edit", edit_blogpost_path(@blogpost), :method => :get,
	                                                       :title => @blogpost.title %>
	</li>
	<li><%= link_to "delete", @blogpost, :method => :delete,
                                             :confirm => "Are You sure?",
	                                     :title => @blogpost.title %>
	</li>
      </ul>
      </nav>
      <% end %>
    </td>
    <td class="sidebar round">
      <%= gravatar_for @blogpost.user %> <%= @blogpost.user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@blogpost.user), @blogpost.user %><br />
      <strong>Posts</strong> <%= @blogpost.user.blogposts.count %>
    </td>
  </tr>
</table>
